<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="../css/about.css">
</head>
<body>
    <div id="titleimg" class="container">
        <img class = "assinatura" src="../assinatura.png" alt="assinatura" srcset="">
    </div>
    <nav class="navigation">
        <ul>
            <li class="about"><a href="about.html">About</a></li>
            <li class="work"><a href="works.html">Work</a></li>
            <li class="gallery"><a href="gallery.html">Gallery</a></li>
        </ul>
    </nav>
    <hr>

    <p>José Saramago nasceu a 16 de novembro de 1922 em Azinhaga, uma aldeia do Ribatejo tão modesta como a sua família. Apesar de ter crescido numa casa sem livros, cedo se apaixonou por eles. O seu primeiro contacto com a literatura aconteceu na escola, mas depois, quando teve de deixar os estudos para trabalhar como serralheiro mecânico, a sua óbvia atração pelas letras levou-o a frequentar com assiduidade a biblioteca municipal.

        A curiosidade intelectual fez do jovem Saramago um autodidata e também um homem comprometido com as causas do seu tempo. Opositor ao regime salazarista, aderiu ao PCP em 1969. Foi também um acérrimo crítico da Igreja Católica, alvo preferencial de algumas das obras que viria a escrever, como “Memorial do Convento” (1982), “O Evangelho Segundo Jesus Cristo” (1991) e “Caim” (2009).
        
        Até se consagrar inteiramente à carreira literária, algo que sucedeu a partir de 1976, o escritor conheceu várias profissões. Foi desenhador, funcionário da saúde e da previdência social, tradutor, editor e jornalista.
        
        O seu primeiro romance, “Terra do Pecado”, data de 1947. Passariam 19 anos até voltar a publicar, desta feita um livro de poesia, “Poemas Possíveis”. Nos anos que se seguiram a sua produção literária foi regular e diversificada, com obras que se destacaram em áreas tão distintas como poesia, romance, conto e teatro.
        
        Como romancista o autor consagrou-se ao receber o prémio Cidade de Lisboa com a sua obra “Levantado do Chão”, que se tornou um best-seller internacional. Com o romance “Memorial do Convento” (1982), considerado a sua obra mais icónica, recebeu o prémio do Pen Clube Português. “O Ano da Morte de Ricardo Reis” (1984) foi distinguido com o Prémio da Crítica, o Prémio Dom Diniz, o prémio do jornal The Independent e novamente com o prémio do Pen Clube Português.
        
        Um ano depois o escritor é agraciado com o grau de Comendador da Ordem Militar de Sant’Iago da Espada (em 1998 seria elevado a Grande-Colar da mesma Ordem, honra geralmente reservada a Chefes de Estado). Em 1995 recebe o mais alto galardão das letras portuguesas, o Prémio Camões, e três anos depois é distinguido com o Nobel da Literatura.
        
        Com a sua obra traduzida em 42 línguas, o autor vê-se reconhecido pelo cinema a partir de 2008, quando o seu romance “Ensaio Sobre a Cegueira” (1995), sob a direção de Fernando Meirelles, é adaptado para a grande tela. Segue-se, em 2010, a conversão para cinema de um conto retirado do seu livro “Objeto Quase”, que deu origem ao filme “Embargo”, do realizador português António Ferreira.
        
        Casado em segundas núpcias com a jornalista espanhola Pilar del Rio, Saramago decidiu fixar residência a partir de 1993 na ilha de Lanzarote, no arquipélago das Canárias. Sempre atento ao mundo que o rodeava, a sua consagração literária nunca o impediu de se dedicar às causas que o moviam. Em 2007 constituiu a Fundação José Saramago para a defesa e difusão da Declaração Universal dos Direitos Humanos e dos problemas do ambiente, mas não viveu a tempo de assistir à sua inauguração, em 2012, na Casa dos Bicos, em Lisboa.
        
        Faleceu em Espanha, a 18 de junho de 2010, mas a fundação com o seu nome mantém o seu projeto cultural e social vivo, sob a presidência da sua mulher, Pilar del Rio. </p>

        <hr>
</body>
</html>