<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <link rel="stylesheet" href="../css/gallery.css">
</head>
<body>
    <div id="titleimg" class="container">
        <img class = "assinatura" src="../assinatura.png" alt="assinatura" srcset="">
    </div>
    <hr>
    <div class="images">
    <div id="img1">
    <img src="../saramago1.jpg" alt="sara1" srcset="">
</div><div>
    <img src="../saramago3.jpg" alt="sara2" srcset="">
</div><div>
    <img src="../saramago4.jpg" alt="sara3" srcset="">
</div>
</div>
</div>
    <hr>
</body>
</html>