<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="../css/works.css">
</head>
<body>
    <div id="titleimg" class="container">
        <img class = "assinatura" src="../assinatura.png" alt="assinatura" srcset="">
    </div>
    <hr>
    <div class="biblio">
        <p><ul>
            <h1>Works in Portuguese</h1>
            <h3>Poetry</h3>
            <li> Os poemas possiveis. – Portugália Ed. 1966. Ed. Caminho 1982</li>
            <li>Provavelmente alegria, – Livros Horizonte 1970. Ed. Caminho 1985</li>
            <li>O ano de 1993. Ed. Futura 1975. – Ed. Caminho 1987</li>
            <h3>Prose</h3>
            <li></li>Manual de Pintura e Caligrafia: romance. – Moraes Ed. 1977. Ed. Caminho, 1984</li>
            <li>Objecto quase. – Moraes Ed. 1978. Ed. Caminho, 1984</li>
            <li>Levantado do Chão: romance. – Ed. Caminho, 1980</li>
            <li>Memorial do Convento: romance. – Ed. Caminho, 1982, Círculo de Leitores, 1984</li>
            <li>O ano da morte de Ricardo Reis: romance. – Ed. Caminho, 1984</li>
            <li>A jangada de pedra: romance. – Ed. Caminho 1986, Círculo de Leitores, 1987</li>
            <li>História do cerco de Lisboa: romance. – Ed. Caminho, 1989</li>
            <li>O evangelho segundo Jesus Cristo: romance. – Ed. Caminho, 1991</li>
            <li>Ensaio sobre a cegueira: romance. – Ed. Caminho, 1995</li>
            <li>Todos os nomes: romance. – Ed. Caminho, 1997</li>
            <li>Terra do Pecado : romance. 1947. 2. ed. – Lisboa : Caminho, 1997</li>
            <li>O conto da Ilha Desconhecida / desenhos: Pedro Cabrita Reis. – Lisboa : Assírio & Alvim, 1997</li>
            <li>A caverna : romance. – Lisboa : Caminho, 2000</li>
            <li>O homem duplicado : romance. – Lisboa : Caminho, 2002</li>
            <li>Ensaio sobre a Lucidez : romance. – Lisboa : Caminho, 2004</li>
            <li>As intermitências da morte : romance. – Lisboa : Caminho, 2005</li>
            <li>As pequenas memórias. – Lisboa : Caminho, 2006</li>
            <li>A Viagem do Elefante. – Lisboa : Caminho, 2008</li>
            <li>Caim : romance. – Alfragide : Caminho, 2009</li>
            <li>Nas suas palavras / edição e selecção de Fernando Gómez Aguilera. –Lisboa : Caminho, 2010</li>
            <li>O silêncio da água. – Lisboa : Caminho, 2011</li>
            <li>Claraboia : romance. – Lisboa : Caminho, 2011</li>
        </ul></p>
    </div>
    <hr>
</body>
</html>